{{ define "main" }}
<div
  class="px-6 mx-auto mb-16 prose text-gray-700 justify-self-center sm:px-4 md:px-0 lg:prose-lg dark:prose-dark"
>
    <h1 class="p-name">{{ .Title }}</h1>
    <div class="e-content">
      {{ .Content }}
    </div>
    <div class="social-links">
      <a class="fab fa-github" href="https://github.com/IkeikeP"></a>
      <a class="fab fa-linkedin" href="https://www.linkedin.com/in/francisconina/"></a>
      <a class="fab fa-stack-overflow" href="https://stackoverflow.com/users/2923357/ikeike/"></a>
      <a class="fab fa-twitter" href="https://twitter.com/IkeikeGZ"></a>
    </div>
</div>

{{ end }}
